@import "../../css/_module-imports";

.u4m-cta-row {
  .page-center {
    .innerContainer {
      .intro_content {
        margin-bottom: 0;

        .eyebrow_text {
          margin-bottom: 15rem;
        }

        .intro_btn_wrap {
          gap: 30px;
        }
      }
    }
  }
}
