<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: IMMY-u4m - Blog Post
-->
{% extends './base.html' %} {% block body %}
<main id="main-content" class="body-container-wrapper">
  {% set imageMax = 100 %}
  <section class="u4m-blog-post">
    <!-- Blog Post Hero -->

    <div class="featured-post dnd_padd posthero hero">
      <div class="share" id="share">
        <a
          href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ content.absolute_url }}"
          target="_blank"
          aria-label="LinkedIn"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h14c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z M9,17H6.477v-7H9 V17z M7.694,8.717c-0.771,0-1.286-0.514-1.286-1.2s0.514-1.2,1.371-1.2c0.771,0,1.286,0.514,1.286,1.2S8.551,8.717,7.694,8.717z M18,17h-2.442v-3.826c0-1.058-0.651-1.302-0.895-1.302s-1.058,0.163-1.058,1.302c0,0.163,0,3.826,0,3.826h-2.523v-7h2.523v0.977 C13.93,10.407,14.581,10,15.802,10C17.023,10,18,10.977,18,13.174V17z"
            ></path></svg
        ></a>
        <a
          href="https://twitter.com/intent/tweet?original_referer={{ content.absolute_url }}&amp;url={{ content.absolute_url }}&amp;source=tweetbutton"
          target="_blank"
          aria-label="Twitter"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M10.053,7.988l5.631,8.024h-1.497L8.566,7.988H10.053z M21,6v12	c0,1.657-1.343,3-3,3H6c-1.657,0-3-1.343-3-3V6c0-1.657,1.343-3,3-3h12C19.657,3,21,4.343,21,6z M17.538,17l-4.186-5.99L16.774,7	h-1.311l-2.704,3.16L10.552,7H6.702l3.941,5.633L6.906,17h1.333l3.001-3.516L13.698,17H17.538z"
            ></path></svg
        ></a>
        <a
          href="http://www.facebook.com/share.php?u={{ content.absolute_url }}"
          target="_blank"
          aria-label="Facebook"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M12,2C6.477,2,2,6.477,2,12c0,5.013,3.693,9.153,8.505,9.876V14.65H8.031v-2.629h2.474v-1.749 c0-2.896,1.411-4.167,3.818-4.167c1.153,0,1.762,0.085,2.051,0.124v2.294h-1.642c-1.022,0-1.379,0.969-1.379,2.061v1.437h2.995 l-0.406,2.629h-2.588v7.247C18.235,21.236,22,17.062,22,12C22,6.477,17.523,2,12,2z"
            ></path></svg
        ></a>
        <a
          href="mailto:?subject=Check out {{ content.absolute_url }}"
          aria-label="Email"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M 19 3 C 17.346 3 16 4.346 16 6 C 16 6.4617584 16.113553 6.8939944 16.300781 7.2851562 L 12.585938 11 L 7.8164062 11 C 7.4021391 9.8387486 6.3016094 9 5 9 C 3.346 9 2 10.346 2 12 C 2 13.654 3.346 15 5 15 C 6.3016094 15 7.4021391 14.161251 7.8164062 13 L 12.585938 13 L 16.300781 16.714844 C 16.113553 17.106006 16 17.538242 16 18 C 16 19.654 17.346 21 19 21 C 20.654 21 22 19.654 22 18 C 22 16.346 20.654 15 19 15 C 18.538242 15 18.106006 15.113553 17.714844 15.300781 L 14.414062 12 L 17.714844 8.6992188 C 18.106006 8.8864466 18.538242 9 19 9 C 20.654 9 22 7.654 22 6 C 22 4.346 20.654 3 19 3 z"
            ></path></svg
        ></a>
      </div>
      <div class="page-center">
        <div class="flex_row">
          <div class="feat_content col6">
            <div class="eyebrow_text date">
              {% set included_topics = content.topic_list | rejectattr("slug",
              "equalto", "featured") | list %} {% for topic in included_topics
              %} {% if loop.first %}
              <a href="{{ blog_tag_url(group.id, topic.slug) }}"
                >{{ topic.name }}</a
              >
              {% endif %} {% endfor %} <span>|</span>
              {{ content.publish_date|datetimeformat('%B %e, %Y') }}
            </div>

            <h1 class="title">{{ content.name }}</h1>
            <div class="author-wrap">
              <div class="author-link">
                Written by:
                <a
                  href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}"
                  >{{ content.blog_post_author.display_name }}</a
                >
              </div>
            </div>
          </div>
          {% if content.featured_image %}
          <div class="feat_img col6">
            <div class="img_wrap">
              <img
                src="{{ content.featured_image }}"
                alt="{{ content.name | striptags }}"
              />
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- End Blog Post Hero -->

    <!-- Blog Post Body -->
    <div class="body" id="body">
      <div class="content post_body">{{ content.post_body }}</div>
      <div class="topics">
        <span class="label">Tag(s):</span>
        {% set included_topics = content.topic_list | rejectattr("slug",
        "equalto", "featured") | list %} {% for topic in included_topics %}
        <a class="link" href="{{ blog_tag_url(group.id, topic.slug) }}"
          >{{ topic.name }}</a
        >
        {% if not loop.last %}, {% endif %} {% endfor %}
      </div>
    </div>
    {{ html }}
    <!-- End Blog Post Body -->
  </section>

  {% module 'u4m-blog-post-cards' path='../modules/u4m-post-cards', label='Blog
  Post Cards', blog_cards={ "feed_type" : "related" }, intro_content={
  "include_button" : false, "include_content" : false, "include_eyebrow_text" :
  false, "include_heading" : true, "heading" : "Related Posts", } %}

  <div class="posSub">
    {% module 'blog_subscribe' path="../modules/u4m-cta-row", label='Blog
    Subscribe', intro_content={ "heading" : "Blog Subscribe", "include_button" :
    false, "select_input_type" : "form", "select_form": { "form_id":
    "25acbad6-03ca-4adb-bd5c-1ade1af92c8c", "response_type": "inline",
    "message": "Thanks for submitting the form.", "gotowebinar_webinar_key":
    null, "webinar_id": null, "webinar_source": null, "form_type": "HUBSPOT" }
    }, module_overrides={ "top_padding" : "top-padding-none" } %}
  </div>
</main>
{% endblock body %} {% require_js %}
<script>
  // Stick sharing
  document.addEventListener("DOMContentLoaded", function () {
    var Sticky = new hcSticky("#share", {
      stickTo: ".u4m-blog-post",
      top: 150,
    });
  });
</script>
{% end_require_js %}
