{% set moduleName = 'u4m-animated-stats' %}
{% include "../partials/u4-module-includes.html" %}

{{ macros.introGroup(module.intro_content, module.module_settings) }} 

<div class="cmstats_group">
	<div class="flex_row stats_row {{ module.module_settings.statc_count_in_row }}_row">
		{% for item in module.stats_group %}
		<div class="stats_group intro_content  {{ module.module_settings.statc_count_in_row }} col">
			<div class="inner__intro ">
				{% if item.include_eyebrow_text %}
				<div class="eyebrow_text">
					{{ item.eyebrow_text }}
				</div>
				{% endif %}
				{% if item.include_heading %}
				<{{ item.heading_size }} class="intro_title "><span class="suffix fntSize">{{ item.prefix }}</span><span class="counter">{{ item.number }}</span><span class="suffix fntSize">{{ item.suffix }}</span></{{ item.heading_size }}>
          
          
					{% endif %}
					{% if item.include_content %}
					<div class="intro_desc {{ item.content_style }} ">
				{{ item.content }}
			</div>
			{% endif %}
		</div>
	</div>
	{% endfor %}

</div>
</div>

</div>
</div>
</section>






{% require_js %}
<script>
	$(document).ready(function(){
		$('.u4m-animated-stats.{{name}} .counter').counterUp({
			delay: 10,
			time: 1000
		});
	})
</script>
{% end_require_js %}




