@import "../../css/_module-imports";

.u4m-rich-text {
  .intro_desc.themeStyle {
    line-height: 1.7;
  }

  .btm {
    h3 {
      line-height: 1.5;
    }

    img {
      border-radius: 15px;
      box-shadow: 0px 24px 24px -12px rgba($Black, 0.1);
    }

    iframe {
      border-radius: 15px;
      box-shadow: 0px 36px 36px -12px rgba($Black, 0.1);
    }
  }
}
