// Colors - For transparency use rgba($action1, 0.5) = 50% opaque
$action1: #733BF7;
$action2: #00a4bd;
$white : #FFFFFF;
$black : #000000;
$gray1: #edf0f2;
$gray2: #cbd6e2;
$gray3: #7C98B6;

//  Updated Color 
$Blue : #00539B;
$Red : #C41230;
$BrightBlue : #0B74D5;
$BrightRed : #E2183A;
$Green : #026937;
$Purple : #5F285E;
$Orange : #FF7E2E;
$Teal : #00AA9B;
$Pink : #D93D89;
$DarkNavy : #002F58;
$LightGray : #F7F8F9;
$Gray : #A7A9AC;
$Charcoal : #767678;
$FontGray : #626262;
$Black : #000000;
$White : #FFFFFF;

//  Updated Gradient Color 
$gradient1: linear-gradient(110.45deg, $Blue 13.65%, $Red 86.49%), $White;
$gradient2: linear-gradient(297.46deg, $DarkNavy 0%, $Blue 75%, $BrightBlue 100%), $White;
$gradient3: linear-gradient(270deg, $Black 29.96%, rgba($Black, 0.8075) 61.48%, rgba($Black, 0.85) 100%);
$gradient4: linear-gradient(131.63deg, $Blue 23.49%, $Red 109.76%), $White;
$gradient5: linear-gradient(270deg, rgba($Black, 0) 29.96%, rgba($Black, 0.8075) 61.48%, rgba($Black, 0.85) 100%);



//  Base Font 
$font1: 'Verlag';
$baseFontSize: 22rem;
$baseLineHeight: 1.6; // Golden ratio

// Border Radius
$border1: 4rem;
$border2: 5rem;
$border3: 10rem;
$BorderRadius25: 25rem;
$BorderRadius15: 15rem;
$BorderRadius10: 10rem;
$BorderRadius5: 5rem;

// Shadow
$textShadow1: 0 0 4rem rgba($Black, 0.3);
$shadow1: 0px 36px 36px -24px rgba($Black, 0.3);
$shadow2: 0px 24px 24px -12px rgba($Black, 0.1);
$shadow3: 0px 16px 16px -8px rgba($Black, 0.05);


// Animation
$animation1: .1s ease-in;
$animation2: .25s ease-in;
$animation3: 1s ease-in;

// Container
$outercontainerSize : 1340rem;
$outercontainerSpacingLR : 50rem;
$outercontainerRadius: 25rem;
$containerSize : 1340rem;
$containerInnerSpacing : 50rem;