{% set moduleName = 'cmSliderTab' %}
{% include "../partials/u4-module-includes.html" %}

{{ macros.introGroup(module.intro_content, module.module_settings) }} 

<div class="cmSliderTabWrap {{ module.tab_group.select_tab_type }}">
	{% if module.tab_group.select_tab_type == "cmCardTab" %}
	<div class="cmCardTab">
		<ul class="tabnav">
			<li><a href="#tab1">Tab 1</a></li>
			<li><a href="#tab2">Tab 2</a></li>
		</ul>
		<div class="tabcontent-wrapper">
			<div class="tabcontent" id="tab1">
				<h2>What is Lorem Ipsum?</h2>
				<p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>
	</div>
	{% else %}
	<div class="cmTwoColTabWrap">

		<ul class="tabnav">
			{% for item in module.tab_group.tab_items_2 %}
			<li><a href="#tab{{loop.index}}">{{ item.title }}</a></li>
			{% endfor %}

		</ul>
		<div class="tabcontent-wrapper {{ module.module_settings.tab_border_radius_type }} {{ module.module_settings.select_tab_background_color }}">
			{% for item in module.tab_group.tab_items_2 %}
			<div class="tabcontent" id="tab{{loop.index}}">
				<div class="tabcontentInner">
					<div class="cmContentWrap">
						<div class=" leftCntt">
							<div class="intro_content ">
								<div class="intro__inner ">
									{% if item.content_column.include_eyebrow_text %}
									<div class="eyebrow_text">
										{{ item.content_column.eyebrow_text }}
									</div>
									{% endif %}
									{% if item.content_column.include_heading %}
									<{{ item.content_column.heading_size }} class="intro_title">{{ item.content_column.heading }}</{{ item.content_column.heading_size }}>
									{% endif %}
										{% if item.content_column.include_content %}
										<div class="intro_desc {{ item.content_column.content_style }}">
									{{ item.content_column.content }}
								</div>
								{% endif %}

								{% if item.content_column.include_button %}
								<div class="intro_btn_wrap">
									{% for item2 in item.content_column.button_group %}
									<div class="btn_item">
										{% if item2.button_text %}
										{% if item2.button_type == "std" %}
										{% set href = item2.link.url.href %}
										{% if item2.link.url.type is equalto "EMAIL_ADDRESS" %}
										{% set href = "mailto:" + href %}
										{% endif %}
										<a class="{{ item2.button_style }} {{ item2.button_size }}"
											 {% if item2.link.url.type is equalto "CALL_TO_ACTION"  %}
											 href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
											 {% else %}
											 href="{{ href|escape_url }}"
											 {% endif %}
											 {% if item2.link.open_in_new_tab %}
											 target="_blank"
											 {% endif %}
											 {% if item2.link.rel %}
											 rel="{{ item2.link.rel|escape_attr }}"
											 {% endif %}
											 >
											{{ item2.button_text }}
										</a>
										{% endif %}
										{% elif item2.button_type == "cta" %}
                      {% cta guid="{{ item2.cta }}" %}
										{% endif %}


									</div>
									{% endfor %}
								</div>
								{% endif %}

								</div>
							</div>
						</div>
					</div>
					<div class="cmMediaWrap">
						{% if item.media_column.select_media_type =="cmImage" %}
						<div class="MainImg BorderRadius15"> 
							{% if item.media_column.image.src %}
							<div class="imgBg" style="background-image:url({{ item.media_column.image.src }});"></div>
							{% endif %}
						</div>
						{% elif item.media_column.select_media_type =="cmVideo" %}
						{% if item.media_column.select_video_type =="cmEmbed" %}
						<div class="embedVideo">
							{% if item.media_column.embed_url %}
				    <iframe src="{{ item.media_column.embed_url }}?autoplay=1&loop=0&mute=1&showinfo=0&controls=1"  frameborder="0" allowfullscreen="" class="iframe_video" ></iframe>
							{% endif %}
						</div>
						{% elif item.media_column.select_video_type =="cmFile" %}
							{% if item.media_column.file %}
								<div class="cmVideoFile">
								<video class="video-media" controls>
									<source src="{{ item.media_column.file }}" type="video/mp4">
								</video>
								</div>
								{% endif %}

						
						{% endif %}
            {% endif %}
				</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
</div>


</div>
</div>
</section>



{% require_js %}
<script>
$('.tabnav li:first-child a').addClass('active');
$('.tabcontent').first().show();
$('.tabnav li a').click(function() {
	var target = $(this).attr('href');
	$(this).addClass('active').closest('li').siblings().find('a').removeClass('active');
	$(target).show().siblings('.tabcontent').hide();
	return false;
});
</script>
{% end_require_js %}







