@import "../../css/_module-imports";


.u4m-alternating-content {
  .flex_row {
    .leftCntt {
      .intro_content {
        margin: 0;
        max-width: 100%;
        text-align: left;

        .intro_btn_wrap {
          justify-content: flex-start;
        }
      }

      max-width: 550px;
      width: 100%;
    }

    align-items: center;
    margin: 0;
    gap: 80px;
    row-gap: 40px;

    .imgBg {
      background-size: cover;
      background-repeat: no-repeat;
      padding-bottom: 66.722%;
      width: 100%;
      background-position: center;
    }

    .rightCntt {
      max-width: calc(100% - 630px);
      width: 100%;

      .embedVideo {
        padding-bottom: 56.6%;
        position: relative;

        iframe.iframe_video {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .MainImg {
    overflow: hidden;
  }

  .flex_row.left {
    flex-direction: row-reverse;
  }

  .intro_content {
    .eyebrow_text {
      margin-bottom: 12rem;
    }

    .intro_title {
      margin-bottom: 10rem;
    }

    .intro_desc.bodystyle1 {
      line-height: 1.7;
    }
  }

  #chartdiv {
    width: 100%;
    height: 600px;
  }
}

@include navbreak {

  .u4m-alternating-content {
    .flex_row {
      gap: 40px;

      .leftCntt {
        max-width: calc(50% - 20px);
        width: 100%;
      }

      .rightCntt {
        max-width: calc(50% - 20px);
        width: 100%;
      }
    }
  }

}

@include tabletMid {

  .u4m-alternating-content {
    .flex_row {
      gap: 20px;

      .leftCntt {
        max-width: calc(50% - 10px);
        width: 100%;
      }

      .rightCntt {
        max-width: calc(50% - 10px);
        width: 100%;
      }
    }
  }

}

@include tabletvert {

  .u4m-alternating-content {
    #chartdiv {
      width: 100%;
      height: 400px;
    }

    .flex_row {
      gap: 40px;

      .leftCntt {
        max-width: 100%;
        width: 100%;
      }

      .rightCntt {
        max-width: 100%;
        width: 100%;
      }
    }
  }

}